{% extends 'base.twig' %}

{% block content %}

<div class="container-fluid">
    	<div class="row">
			<div class="col-sm-12 col-md-3">
				<div class="">
					<h2 class="headings">BIO</h2>
					{{ post.get_field('about_me') }}
				</div>
				<div class="">
					<h2 class="headings">education</h2>
					{{ post.get_field('education') }}
				</div>
				<div class="">
					<h2 class="headings">contact</h2>
					<p>Interested in working with Andrew? Get ahold of him below.</p>
                    <p>
                        <a href="mailto:savage@a-savage.com" class="d-block">savage@a-savage.com</a>
                    </p>
				</div>
			</div>
			<div class="col-sm-12 col-md-3">
				<div class="">
					<h2 class="headings">SOLO EXHIBITIONS</h2>
                    {% for exhibitions in post.get_field('solo_exhibitions') %}
                        <span class="d-block">{{ exhibitions.year }}</span>
                        <span class="d-block">-</span>
                        {{ exhibitions.exhibitions }}
                    {% endfor %}
				</div>
				<div class="">
					<h2 class="headings">GROUP EXHIBITIONS</h2>
                    {% for exhibitions in post.get_field('group_exhibitions') %}
                        <span class="d-block">{{ exhibitions.year }}</span>
                        <span class="d-block">-</span>
                        {{ exhibitions.exhibitions }}
                    {% endfor %}
				</div>
				<div class="">
					<h2 class="headings">SELECTED PROJECTS</h2>
                    {% for project in post.get_field('selected_projects') %}
                        <span class="d-block">{{ project.year }}</span>
                        <span class="d-block">-</span>
                        {{ project.projects }}
                    {% endfor %}
				</div>
			</div>
			<div class="col-sm-12 col-md-3">
				<div class="">
					<h2 class="headings">PUBLISHED WRITING AND ILLUSTRATION</h2>
                    {% for publication in post.get_field('published') %}
                        <span class="d-block">{{ publication.year }}</span>
                        <span class="d-block">-</span>
                        {{ publication.publications }}
                    {% endfor %}
				</div>
                <div class="">
                    <h2 class="headings">COMMISSIONS</h2>
                    {% for commission in post.get_field('commissions') %}
                        <span class="d-block">{{ commission.year }}</span>
                        <span class="d-block">-</span>
                        {{ commission.commissions    }}
                    {% endfor %}
                </div>
                <div class="">
                    <h2 class="headings">BIBLIOGRAPHY</h2>
                    {% for item in post.get_field('bibliography') %}
                        <span class="d-block">{{ item.year }}</span>
                        <span class="d-block">-</span>
                        {{ item.bibliographies }}
                    {% endfor %}
                </div>
			</div>
			<div class="col-sm-12 col-md-3">
                <div class="">
                    <h2 class="headings">AWARDS</h2>
                    {% for item in post.get_field('awards') %}
                        <span class="d-block">{{ item.year }}</span>
                        <span class="d-block">-</span>
                        {{ item.awards }}
                    {% endfor %}
                </div>
				<div class="">
					<h2 class="headings">PRESS</h2>
                    {% for item in post.get_field('press') %}
                        <span class="d-block">{{ item.year }}</span>
                        <span class="d-block">-</span>
                        {{ item.press }}
                    {% endfor %}
				</div>
			</div>
    	</div>
    </div>
{% endblock%}